<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/toastr/toastr.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.14/themes/css/cartodb.css" />
</head>

<body ng-app="reforMadApp" ng-controller="MainCtrl">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Fixed navbar -->
    <!-- 
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">ReforMad</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse pull-right">
                <ul class="nav navbar-nav">
                    <li class="Map"><a href="#">Map</a></li>
                    <li><a href="#DataGenerator">Data Generator</a></li>
                    <li><button type="button" class="btn btn-success">{{test}}</button></li>
                </ul>
            </div>
        </div>
    </nav>
    -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!--
            <ul class="nav nav-pills pull-right">
                <li class="active"><a ng-href="#Map">Map</a></li>
                <li><a ng-href="#CartoDB">CartoDB</a></li>
                <li><a ng-href="#DataGenerator">DataGenerator</a></li>
                <li>
                    <button class="btn btn-info" ng-click="enableLocalMode()">Local mode</button>
                </li>
            </ul>
            -->
            <h3 class="text-muted">
                <span class="reformadLogo hidden-xs">
                    <img src="images/reformad-logo-nobackground.png" style="width: 26px; height: 26px">
                    <b><span class="color-yellow">Refor</span><span class="color-orange">Mad</span></b>
                </span>
                <span class="hidden-xs"> presenta </span>
                <span class="bdebasuraLogo">
                    <img src="images/trashcan-icon.png" style="width: 20px; height: 26px">
                    <span class="color-brown-dark"> Con <b>B de Basura</b></span>
                </span>
            </h3>
        </div>
    </nav>
    <!-- Add your site or application content here -->
    <div class="container">
        <div id="view_mainContent" ng-view="" ng-init="onLoad()"></div>
        <!--<div id="map" style="height: 100%; width: 100%"></div>-->
    </div>
    <div class="footer">
        <div class="container">
            <!--<p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>-->
            <button type="button" class="btn btn-reformad btn-block blink" ng-click="send()"><b>¡Que sucio!</b></button>
        </div>
    </div>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <!--
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>
    -->
    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/leaflet/dist/leaflet.js"></script>
    <script src="bower_components/leaflet/dist/leaflet-src.js"></script>
    <script src="bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
    <script src="bower_components/toastr/toastr.js"></script>
    <script src="bower_components/chance/chance.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/map.js"></script>
    <script src="scripts/controllers/oauthcallback.js"></script>
    <script src="scripts/controllers/datagenerator.js"></script>
    <script src="scripts/services/user.js"></script>
    <script src="scripts/services/issue.js"></script>
    <script src="scripts/services/api.js"></script>
    <script src="scripts/controllers/cartodb.js"></script>
    <script src="scripts/services/datagenerator.js"></script>
    <!-- endbuild -->
    <script src="scripts/debug/debug-angularConsoleDebug.js"></script>
    <script src="scripts/debug/debug.js"></script>
    <script src="http://libs.cartocdn.com/cartodb.js/v3/3.14/cartodb.js"></script>
    <!--<script src="scripts/utils/seedrandom.js"></script>-->
</body>

</html>